body {
  overflow-y: hidden;
  background-color: #000;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tran {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  will-change: transform;
}

.home-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 999;
  transform: translate3d(0, 0, 0);
}

.home-wrap .home-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 50px;
  color: #000;
  text-align: center;
}

.home-wrap .home-page.page1 {
  /* background: blanchedalmond; */
}

.home-wrap .home-page.page2 {
  /* background: salmon; */
}

.home-wrap .home-page.page3 {
  background: #000;
}

.home-wrap .home-page.page4 {
  /* background: skyblue; */
}

.home-wrap .home-page.page5 {
  /* background: slateblue; */
}

.home-wrap .home-page.page6 {
  height: auto;
  border-top: 0.1rem solid #ff005e;
  background: #000;
}

/* page1 */
.page1-video {
  background: url(../images/page1/kv.png) no-repeat center 0 / cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.page1-video::before {
  content: "";
  background: url(../images/page1/mask.png) no-repeat 0 0 / 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}

.video-bg {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.page1-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.page1-logo {
  width: 3.48rem;
  height: 0.76rem;
  position: absolute;
  top: 0.4rem;
  left: 0.6rem;
  cursor: initial;
}

.page1-logo img {
  width: 100%;
}

.page1-slogan {
  width: 8.19rem;
  height: 1.44rem;
  position: absolute;
  top: 0.4rem;
  left: 50%;
  margin-left: -4.5rem;
}

.page1-slogan img {
  width: 100%;
}

.page1-recBox {
  width: 2.4rem;
  height: 0.5rem;
  position: absolute;
  top: 0.56rem;
  right: 0.5rem;
}

.rec-ani {
  border: 2px solid #ed084d;
  box-shadow: 0 0 10px #ed084d;
  width: 0.32rem;
  height: 0.32rem;
  border-radius: 50%;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
}

.rec-ani::before {
  content: "";
  width: 0.2rem;
  height: 0.2rem;
  background-color: #ed084d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: recAni 1s ease-in-out infinite;
}

@keyframes recAni {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.rec-icon {
  width: 0.67rem;
  height: 0.27rem;
  position: absolute;
  top: 0.1rem;
  left: 0.56rem;
}

.rec-connection {
  background: url(../images/page1/contacting.png) no-repeat 0 0 / 100% 100%;
  width: 0.82rem;
  height: 0.22rem;
  position: absolute;
  top: 0.02rem;
  left: 1.3rem;
  text-indent: -999em;
}

.rec-time {
  color: #8e8486;
  font-size: 0.16rem;
  position: absolute;
  top: 0.3rem;
  left: 1.32rem;
}

.page1-playBtn {
  width: 1.3rem;
  height: 1.43rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.65rem;
  margin-top: -0.715rem;
  z-index: 3;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.page1-playBtn img {
  width: 100%;
}

.page1-playBtn:hover {
  opacity: 1;
}

.page1-downloadBox {
  background: url(../images/page1/download-bg.png) no-repeat 0 0 / 100% 100%;
  width: 6.13rem;
  height: 2.4rem;
  padding: 0 0.74rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 1.48rem;
  left: 50%;
  margin-left: -3.065rem;
  z-index: 4;
}

.page1-download {
  height: 1.79rem;
  height: 1.79rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page1-download a {
  width: 1.79rem;
  height: 0.54rem;
  filter: brightness(0.8);
  transition: filter 0.3s;
}

.page1-download a img {
  width: 100%;
}

.page1-download a:hover {
  filter: brightness(1.1);
}

.page1-qrcode {
  position: relative;
  width: 1.79rem;
  height: 1.79rem;
}

.page1-qrcode img {
  width: 100%;
}

.page1-qrcode::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #FF527E;
  position: absolute;
  top: 0;
  left: 0;
  
}

.page1-qrcode.qrcodeAni::before {
  animation: qrcodeAni 2s linear infinite;
}

@keyframes qrcodeAni {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.79rem);
  }
}


.page1-scroll {
  width: 0.72rem;
  height: 0.91rem;
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  margin-left: -0.36rem;
  
}

.page1-scroll.scrollAni {
  animation: scrollAni 1s infinite;
}

.page1-scroll img {
  width: 100%;
}

@keyframes scrollAni {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0.6rem);
    opacity: 0;
  }
}
/* page2 */
.home-wrap .home-page.page2 {
  background: url(../images/page2/bg.png) no-repeat center 0 / cover;
  box-sizing: border-box;
}

.page2-container {
  width: 16.1rem;
  height: 9.93rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
}

.page2-banner {
  width: 6.43rem;
  height: 8.89rem;
  overflow: hidden;
}

.page2-banner .swiper-container-news {
  width: 100%;
  height: 100%;
}

.page2-banner .swiper-container-news .swiper-slide {
  width: 100%;
  height: 100%;
}

.page2-banner .swiper-container-news .swiper-slide img {
  width: 100%;
}

.swiper-pagination-news {
  position: absolute;
  text-align: right;
  z-index: 1;
  bottom: 0.2rem !important;
}

.swiper-pagination-news .swiper-pagination-bullet {
  width: 0.8rem;
  height: 0.12rem;
  margin: 0 0.1rem;
  background-color: #7d7c7f;
  opacity: 1 !important;
  border-radius: 0% !important;
  transition: background 0.3s;
}

.swiper-pagination-news .swiper-pagination-bullet-active {
  background-color: #db0022;
}

.page2-news {
  width: 9.56rem;
  height: 8.89rem;
  box-sizing: border-box;
}

.page2-news-tagBox {
  width: 100%;
  height: 0.57rem;
  display: flex;
  justify-content: space-between;
}

.page2-news-tagBox li {
  width: 25%;
  height: 0.57rem;
  background-image: url(../images/page2/tab-li-bg.png);
  background-repeat: no-repeat;
  background-size: 5.08rem 0.57rem;
  background-position: -2.7rem 0;
  color: #a3a3ae;
  font-size: 0.24rem;
  text-align: center;
  line-height: 0.57rem;
  cursor: pointer;
}

.page2-news-tagBox li:hover {
  background-position: 0 0;
  color: #4d4d50;
  font-weight: 700;
}

.page2-news-tagBox li.cur {
  background-position: 0 0;
  color: #4d4d50;
  font-weight: 700;
}

.page2-news-conBox {
  width: 100%;
  height: 8.3rem;
}

.page2-news-conBox ul {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: hidden;
  display: none;
}

.page2-news-conBox ul.cur {
  display: flex;
}

.page2-news-conBox ul li {
  background: url(../images/page2/tab-con-bg-0.png) no-repeat 0 0 / 100% 100%;
  width: 4.73rem;
  height: 2.66rem;
  margin-top: 0.1rem;
  transition: background 0.5s;
  cursor: pointer;
}

.page2-news-conBox ul li:nth-child(2n) {
  margin-left: 0.1rem;
}

.page2-news-conBox ul li:hover {
  background: url(../images/page2/tab-con-bg-1.png) no-repeat 0 0 / 100% 100%;
}

.page2-news-conBox ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.44rem 0.44rem 0.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page2-news-con-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page2-news-con-tag {
  font-size: 0.24rem;
  color: #fff;
  transition: all 0.5s;
  position: relative;
}

.page2-news-conBox ul li:hover .page2-news-con-tag {
  color: #000;
}

.page2-news-con-tag::after {
  content: "";
  width: 100%;
  height: 0.06rem;
  position: absolute;
  bottom: -0.16rem;
  left: 0.01rem;
  background-color: #ff0055;
}

.page2-news-con-time {
  color: #aea9ac;
  font-size: 0.18rem;
  transition: all 0.5s;
}

.page2-news-conBox ul li:hover .page2-news-con-time {
  color: #3e3f42;
}

.page2-news-con-title {
  font-size: 0.2rem;
  color: #fff;
  text-align: left;
  line-height: 1.5;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  transition: all 0.5s;
}

.page2-news-conBox ul li:hover .page2-news-con-title {
  color: #000;
}

.page2-news-con-more {
  text-indent: -999em;
  background-image: url(../images/page2/detail-more.png);
  background-repeat: no-repeat;
  background-size: 1.19rem 1.06rem;
  background-position: 0 -0.68rem;
  width: 1.19rem;
  height: 0.42rem;
  align-self: flex-end;
}

.page2-news-conBox ul li:hover .page2-news-con-more {
  background-position: 0 0;
}

.page2-more {
  width: 1.91rem;
  height: 0.64rem;
  background-image: url(../images/page2/news-more.png);
  background-repeat: no-repeat;
  background-size: 1.91rem 1.52rem;
  background-position: 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  text-indent: -999em;
}

.page2-more:hover {
  background-position: 0 -0.92rem;
}

/* page3 */
.home-wrap .home-page.page3 {
  background: url(../images/page3/bg1.png) no-repeat center 0 / cover;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* .page3-con {
  width: 8.19rem;
  height: 11.29rem;
}

.page3-con img {
  width: 100%;
} */


/* page4 */
.home-wrap .home-page.page4 {
  background: url(../images/page4/bg.jpg) no-repeat center 0 / cover;
  box-sizing: border-box;
}

.page4-container {
  width: 25.6rem;
  height: 14.4rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
}

.page4-thumbsBox {
  background: url(../images/page4/thumbs-bg.png) no-repeat 0 0 / 100% 100%;
  width: 8.67rem;
  height: 1.83rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin-left: -4.335rem;
  padding: 0.2rem 0.8rem;
  z-index: 2;
  display: block;
}

.swiper-container-tectosome-thumbs {
  width: 100%;
  height: 100%;
}

.swiper-container-tectosome-thumbs .swiper-slide span {
  display: inline-block;
  width: 1.26rem;
  height: 1.45rem;
  filter: brightness(0.5);
  cursor: pointer;
}

.swiper-container-tectosome-thumbs .swiper-slide span:hover {
  filter: brightness(1);
}

.swiper-container-tectosome-thumbs .swiper-slide-thumb-active span {
  filter: brightness(1);
}

.thumbs-biancaS {
  background: url(../images/page4/biancaS/thumb.png) no-repeat 0 0 / 100% 100%;
}

.thumbs-sophia {
  background: url(../images/page4/sophia/thumb.png) no-repeat 0 0 / 100% 100%;
}

.thumbs-ayla {
  background: url(../images/page4/ayla/thumb.png) no-repeat 0 0 / 100% 100%;
}

.thumbs-alpha {
  background: url(../images/page4/alpha/thumb.png) no-repeat 0 0 / 100% 100%;
}

.thumbs-liv {
  background: url(../images/page4/liv/thumb.png) no-repeat 0 0 / 100% 100%;
}

.thumbs-lee {
  background: url(../images/page4/lee/thumb.png) no-repeat 0 0 / 100% 100%;
}

.thumbs-nanami {
  background: url(../images/page4/nanami/thumb.png) no-repeat 0 0 / 100% 100%;
}

.thumbs-lucia {
  background: url(../images/page4/lucia/thumb.png) no-repeat 0 0 / 100% 100%;
}

.thumbs-kamui {
  background: url(../images/page4/kamui/thumb.png) no-repeat 0 0 / 100% 100%;
}

.thumbs-watanabe {
  background: url(../images/page4/watanabe/thumb.png) no-repeat 0 0 / 100% 100%;
}

.thumbs-bianca {
  background: url(../images/page4/bianca/thumb.png) no-repeat 0 0 / 100% 100%;
}

.thumbs-karenina {
  background: url(../images/page4/karenina/thumb.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-prev {
  background: url(../images/page4/prev.png) no-repeat 0 0 / 100% 100%;
  width: 0.6rem;
  height: 1.48rem;
  left: -1rem !important;
  margin-top: -0.74rem !important;
}

.tectosome-next {
  background: url(../images/page4/next.png) no-repeat 0 0 / 100% 100%;
  width: 0.6rem;
  height: 1.48rem;
  right: -1rem !important;
  margin-top: -0.74rem !important;
}

.tectosome-next:after,
.tectosome-prev::after {
  content: "" !important;
}

.page4-tectosomeBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 1;
}

.swiper-container-tectosome {
  width: 100%;
  height: 100%;
}

/* 解决fade切换首尾无动画问题 */
.swiper-container-tectosome .swiper-slide-duplicate-prev {
  opacity: 1 !important;
  transition: none !important;
}

.tectosome-bg {
  width: 23.52rem;
  height: 11.99rem;
  position: absolute;
  bottom: 1rem;
  left: 1.04rem;
  opacity: 0;
  transition: opacity 1s ease-out 0s;
  z-index: 1;
}

.swiper-container-tectosome .swiper-slide-active .tectosome-bg {
  opacity: 1;
}

.tectosome-name {
  position: absolute;
  top: 3.26rem;
  left: 4.76rem;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
  transform: translate3d(-2rem, 0, 0);
  transition: all 0.3s ease-out 0s;
}

.swiper-container-tectosome .swiper-slide-active .tectosome-name {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 0.4s;
}

.tectosome-name img {
  width: 100%;
}

.tectosome-cv {
  width: 3.62rem;
  height: 1.81rem;
  position: absolute;
  top: 3.94rem;
  right: 5.8rem;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transform: translate3d(4rem, 0, 0);
  transition: all 0.4s ease-out 0s;
}

.swiper-container-tectosome .swiper-slide-active .tectosome-cv {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 0.4s;
}

.cv-aniBox {
  width: 0.5rem;
  height: 0.4rem;
  position: absolute;
  top: 0.32rem;
  left: 1.26rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cv-aniBox i {
  width: 0.04rem;
  height: 0.36rem;
  background-color: #fff;
  animation: waveAni 0.6s linear infinite;
}

.cv-aniBox i:first-child {
  animation-duration: 0.6s;
}

.cv-aniBox i:nth-child(2) {
  animation-duration: 0.9s;
}

.cv-aniBox i:nth-child(3) {
  animation-duration: 0.7s;
}

.cv-aniBox i:nth-child(4) {
  animation-duration: 0.5s;
}

.cv-aniBox i:nth-child(5) {
  animation-duration: 0.9s;
}

.cv-aniBox i:nth-child(6) {
  animation-duration: 1.2s;
}

@keyframes waveAni {
  0% {
    height: 0.1rem;
  }
  50% {
    height: 0.3rem;
  }
  100% {
    height: 0.2rem;
  }
}

.tectosome-teamlogo {
  position: absolute;
  top: 2.16rem;
  right: 2.86rem;
  z-index: -1;
  opacity: 0;
  transform: translate3d(3rem, 0, 0);
  transition: all 0.2s ease-out 0s;
}

.swiper-container-tectosome .swiper-slide-active .tectosome-teamlogo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 0.4s;
}

.tectosome-teamlogo img {
  width: 100%;
}

.tectosome-role {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  transform: translate3d(3rem, 0, 0);
  opacity: 0;
  transition: all 0.4s ease-out 0s;
}

.swiper-container-tectosome .swiper-slide-active .tectosome-role {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 0.4s;
}

.tectosome-role-header,
.tectosome-role-body {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.tectosome-mask {
  width: 22.31rem;
  height: 6.1rem;
  position: absolute;
  bottom: 1rem;
  left: 2.24rem;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.6s ease-out 0.8s;
}

.swiper-container-tectosome .swiper-slide-active .tectosome-mask {
  opacity: 1;
}

.tectosome-record {
  position: absolute;
  top: 6.6rem;
  left: 5.04rem;
  z-index: 3;
  transform: translate3d(-2rem, 0, 0);
  opacity: 0;
  transition: all 0.3s ease-out 0s;
}

.swiper-container-tectosome .swiper-slide-active .tectosome-record {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 0.4s;
}

.record-tag {
  display: block;
  width: 1.62rem;
  height: 0.54rem;
  cursor: pointer;
  position: relative;
  /* transition: background 0.3s; */
}

.record-tag img {
  width: 100%;
}

.record-next1,
.record-next2 {
  width: 0.48rem;
  height: 0.54rem;
  position: absolute;
  top: 0rem;
  right: -0.3rem;
}

.record-next1 {
  animation: nextAni 0.8s 0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.record-next2 {
  animation: nextAni 0.8s 0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  right: -0.6rem;
}

@keyframes nextAni {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
}

.record-top {
  width: 0;
  height: 0.54rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.record-top img {
  width: 100%;
}

.record-prev1,
.record-prev2 {
  width: 0.48rem;
  height: 0.54rem;
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  transform: rotate(180deg);
}

.record-prev1 {
  animation: nextAni 0.8s 0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.record-prev2 {
  animation: nextAni 0.8s 0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  right: 0.8rem;
}

.record-close {
  width: 0.67rem;
  height: 0.54rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
}

.record-con {
  display: none;
  width: 4.7rem;
  padding: 0.57rem 0.35rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 0;
  font-size: 0.24rem;
  text-align: left;
  line-height: 1.5;
  overflow: hidden;
}

.record-con p {
  width: 100%;
  height: 100%;
}

/* biancaS */
.tectosome-bg-biancaS {
  background: url(../images/page4/biancaS/bg.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-name-biancaS {
  width: 3.95rem;
  height: 2.59rem;
}

.tectosome-teamlogo-biancaS {
  width: 5.41rem;
  height: 4.96rem;
  right: 2.5rem;
}

.tectosome-role-biancaS {
  left: 0.2rem;
}

.tectosome-role-biancaS .tectosome-role-header {
  width: 11.51rem;
  height: 11.7rem;
  bottom: 1rem;
  z-index: 1;
}

.tectosome-role-biancaS .tectosome-role-body {
  width: 11.51rem;
  height: 11.7rem;
  z-index: 2;
}

.tectosome-record-biancaS .record-top {
  background-color: rgba(91, 90, 192, 0.3);
}

.tectosome-record-biancaS.on .record-tag {
  background-color: #6660d9;
}

.tectosome-cv-biancaS {
  background: url(../images/page4/biancaS/cv.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-mask-biancaS {
  background: url(../images/page4/biancaS/mask.png) no-repeat 0 0 / 100% 100%;
}

/* sophia */
.tectosome-bg-sophia {
  background: url(../images/page4/sophia/bg.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-name-sophia {
  width: 4.04rem;
  height: 2.59rem;
}

.tectosome-teamlogo-sophia {
  width: 5.23rem;
  height: 2.77rem;
  right: 2.5rem;
}

.tectosome-role-sophia {
  left: 0.8rem;
}

.tectosome-role-sophia .tectosome-role-header {
  width: 7.02rem;
  height: 11.56rem;
  bottom: 1rem;
  z-index: 1;
}

.tectosome-role-sophia .tectosome-role-body {
  width: 7.02rem;
  height: 11.56rem;
  z-index: 2;
}

.tectosome-record-sophia .record-top {
  background-color: rgba(208, 96, 59, 0.6);
}

.tectosome-record-sophia.on .record-tag {
  background-color: #FFA286;
}

.tectosome-cv-sophia {
  background: url(../images/page4/sophia/cv.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-mask-sophia {
  background: url(../images/page4/sophia/mask.png) no-repeat 0 0 / 100% 100%;
}

/* ayla */
.tectosome-bg-ayla {
  background: url(../images/page4/ayla/bg.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-name-ayla {
  width: 3.45rem;
  height: 2.58rem;
}

.tectosome-teamlogo-ayla {
  width: 4.97rem;
  height: 4.96rem;
  right: 2.5rem;
}

.tectosome-role-ayla {
  left: -0.3rem;
}

.tectosome-role-ayla .tectosome-role-header {
  width: 10.86rem;
  height: 12.34rem;
  bottom: 1rem;
  z-index: 1;
}

.tectosome-role-ayla .tectosome-role-body {
  width: 10.86rem;
  height: 12.34rem;
  z-index: 2;
}

.tectosome-record-ayla .record-top {
  background-color: rgba(203, 46, 68, 0.3);
}

.tectosome-record-ayla.on .record-tag {
  background-color: #ffa7b6;
}

.tectosome-cv-ayla {
  background: url(../images/page4/ayla/cv.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-mask-ayla {
  background: url(../images/page4/ayla/mask.png) no-repeat 0 0 / 100% 100%;
}

/* alpha */
.tectosome-bg-alpha {
  background: url(../images/page4/alpha/bg.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-name-alpha {
  width: 4.39rem;
  height: 2.58rem;
}

.tectosome-teamlogo-alpha {
  width: 4.83rem;
  height: 4.94rem;
  right: 2.5rem;
}

.tectosome-role-alpha .tectosome-role-header {
  width: 11.03rem;
  height: 4.56rem;
  bottom: 8.65rem;
  left: 50.62%;
  z-index: 3;
}

.tectosome-role-alpha .tectosome-role-body {
  width: 11.03rem;
  height: 12.84rem;
  z-index: 2;
}

.tectosome-record-alpha .record-top {
  background-color: rgba(203, 46, 68, 0.3);
}

.tectosome-record-alpha.on .record-tag {
  background-color: #ed084d;
}

.tectosome-cv-alpha {
  background: url(../images/page4/alpha/cv.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-mask-alpha {
  background: url(../images/page4/alpha/mask.png) no-repeat 0 0 / 100% 100%;
}

/* liv */
.tectosome-bg-liv {
  background: url(../images/page4/liv/bg.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-name-liv {
  width: 2.93rem;
  height: 2.58rem;
}

.tectosome-teamlogo-liv {
  width: 5.28rem;
  height: 5.15rem;
  right: 2.86rem;
}

.tectosome-role-liv {
  left: -0.6rem;
}

.tectosome-role-liv .tectosome-role-header {
  width: 11.7rem;
  height: 13.26rem;
  bottom: 1rem;
  z-index: 2;
}

.tectosome-role-liv .tectosome-role-body {
  width: 11.7rem;
  height: 13.26rem;
  z-index: 1;
}

.tectosome-record-liv .record-top {
  background-color: rgba(226, 121, 185, 0.3);
}

.tectosome-record-liv.on .record-tag {
  background-color: #f271bc;
}

.tectosome-cv-liv {
  background: url(../images/page4/liv/cv.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-mask-liv {
  background: url(../images/page4/liv/mask.png) no-repeat 0 0 / 100% 100%;
}

/* lee */
.tectosome-bg-lee {
  background: url(../images/page4/lee/bg.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-name-lee {
  width: 2.93rem;
  height: 2.58rem;
}

.tectosome-teamlogo-lee {
  width: 5.28rem;
  height: 5.15rem;
  right: 2.86rem;
}

.tectosome-role-lee {
  left: -0.4rem;
}

.tectosome-role-lee .tectosome-role-header {
  width: 9.02rem;
  height: 12.04rem;
  bottom: 1rem;
  z-index: 2;
}

.tectosome-role-lee .tectosome-role-body {
  width: 9.02rem;
  height: 12.04rem;
  z-index: 1;
}

.tectosome-record-lee .record-top {
  background-color: rgba(72, 129, 222, 0.3);
}

.tectosome-record-lee.on .record-tag {
  background-color: #3381e5;
}

.tectosome-cv-lee {
  background: url(../images/page4/lee/cv.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-mask-lee {
  background: url(../images/page4/lee/mask.png) no-repeat 0 0 / 100% 100%;
}

/* nanami */
.tectosome-bg-nanami {
  background: url(../images/page4/nanami/bg.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-name-nanami {
  width: 4.33rem;
  height: 2.58rem;
}

.tectosome-teamlogo-nanami {
  width: 4.28rem;
  height: 4.95rem;
  right: 2.8rem;
}
.tectosome-role-nanami {
  left: -0.2rem;
}
.tectosome-role-nanami .tectosome-role-header {
  width: 11.64rem;
  height: 12.02rem;
  bottom: 1rem;
  z-index: 2;
}

.tectosome-role-nanami .tectosome-role-body {
  width: 11.64rem;
  height: 12.02rem;
  z-index: 1;
}

.tectosome-record-nanami .record-top {
  background-color: rgba(212, 187, 40, 0.3);
}

.tectosome-record-nanami.on .record-tag {
  background-color: #d9bb00;
}

.tectosome-cv-nanami {
  background: url(../images/page4/nanami/cv.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-mask-nanami {
  background: url(../images/page4/nanami/mask.png) no-repeat 0 0 / 100% 100%;
}

/* lucia */
.tectosome-bg-lucia {
  background: url(../images/page4/lucia/bg.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-name-lucia {
  width: 3.75rem;
  height: 2.59rem;
}

.tectosome-teamlogo-lucia {
  width: 5.28rem;
  height: 5.15rem;
  right: 2.86rem;
}
.tectosome-role-lucia {
  left: -1.4rem;
}
.tectosome-role-lucia .tectosome-role-header {
  width: 12.52rem;
  height: 12.1rem;
  bottom: 0.97rem;
  z-index: 2;
}

.tectosome-role-lucia .tectosome-role-body {
  width: 12.52rem;
  height: 12.1rem;
  z-index: 1;
}

.tectosome-record-lucia .record-top {
  background-color: rgba(203, 46, 68, 0.3);
}

.tectosome-record-lucia.on .record-tag {
  background-color: #db0022;
}

.tectosome-cv-lucia {
  background: url(../images/page4/lucia/cv.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-mask-lucia {
  background: url(../images/page4/lucia/mask.png) no-repeat 0 0 / 100% 100%;
}

/* kamui */
.tectosome-bg-kamui {
  background: url(../images/page4/kamui/bg.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-name-kamui {
  width: 3.95rem;
  height: 2.58rem;
}

.tectosome-teamlogo-kamui {
  width: 5.6rem;
  height: 5.13rem;
  right: 2.5rem;
}

.tectosome-role-kamui {
  left: -0.3rem;
}

.tectosome-role-kamui .tectosome-role-header {
  width: 9.28rem;
  height: 12.12rem;
  bottom: 0.97rem;
  z-index: 2;
}

.tectosome-role-kamui .tectosome-role-body {
  width: 9.28rem;
  height: 12.12rem;
  z-index: 1;
}

.tectosome-record-kamui .record-top {
  background-color: rgba(64, 152, 58, 0.3);
}

.tectosome-record-kamui.on .record-tag {
  background-color: #008e22;
}

.tectosome-cv-kamui {
  background: url(../images/page4/kamui/cv.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-mask-kamui {
  background: url(../images/page4/kamui/mask.png) no-repeat 0 0 / 100% 100%;
}

/* watanabe */
.tectosome-bg-watanabe {
  background: url(../images/page4/watanabe/bg.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-name-watanabe {
  width: 5.11rem;
  height: 2.58rem;
}

.tectosome-teamlogo-watanabe {
  width: 4.78rem;
  height: 5.49rem;
  right: 2.86rem;
  top: 1.8rem;
}

.tectosome-role-watanabe .tectosome-role-header {
  width: 11.16rem;
  height: 12.58rem;
  bottom: 0.98rem;
  z-index: 2;
}

.tectosome-role-watanabe .tectosome-role-body {
  width: 11.16rem;
  height: 12.58rem;
  z-index: 1;
}

.tectosome-record-watanabe .record-top {
  background-color: rgba(136, 134, 143, 0.3);
}

.tectosome-record-watanabe.on .record-tag {
  background-color: #898791;
}

.tectosome-cv-watanabe {
  background: url(../images/page4/watanabe/cv.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-mask-watanabe {
  background: url(../images/page4/watanabe/mask.png) no-repeat 0 0 / 100% 100%;
}

/* bianca */
.tectosome-bg-bianca {
  background: url(../images/page4/bianca/bg.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-name-bianca {
  width: 3.95rem;
  height: 2.59rem;
}

.tectosome-teamlogo-bianca {
  width: 5.41rem;
  height: 4.96rem;
  right: 2.5rem;
}

.tectosome-role-bianca .tectosome-role-header {
  width: 8.46rem;
  height: 12.88rem;
  bottom: 1rem;
  z-index: 2;
}

.tectosome-role-bianca .tectosome-role-body {
  width: 8.46rem;
  height: 12.88rem;
  z-index: 1;
}

.tectosome-record-bianca .record-top {
  background-color: rgba(91, 90, 192, 0.3);
}

.tectosome-record-bianca.on .record-tag {
  background-color: #6660d9;
}

.tectosome-cv-bianca {
  background: url(../images/page4/bianca/cv.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-mask-bianca {
  background: url(../images/page4/bianca/mask.png) no-repeat 0 0 / 100% 100%;
}

/* karenina */
.tectosome-bg-karenina {
  background: url(../images/page4/karenina/bg.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-name-karenina {
  width: 4.75rem;
  height: 2.59rem;
}

.tectosome-teamlogo-karenina {
  width: 4.24rem;
  height: 4.92rem;
  right: 2.8rem;
}

.tectosome-role-karenina .tectosome-role-header {
  width: 8.36rem;
  height: 12.88rem;
  bottom: 1rem;
  z-index: 2;
}

.tectosome-role-karenina .tectosome-role-body {
  width: 8.36rem;
  height: 12.88rem;
  z-index: 1;
}

.tectosome-record-karenina .record-top {
  background-color: rgba(214, 168, 74, 0.3);
}

.tectosome-record-karenina.on .record-tag {
  background-color: #dea631;
}

.tectosome-cv-karenina {
  background: url(../images/page4/karenina/cv.png) no-repeat 0 0 / 100% 100%;
}

.tectosome-mask-karenina {
  background: url(../images/page4/karenina/mask.png) no-repeat 0 0 / 100% 100%;
}

.page4-icon-slo {
  width: 5rem;
  height: 0.98rem;
  position: absolute;
  top: 0.96rem;
  left: 6.44rem;
  z-index: -1;
}

.page4-icon-gray {
  width: 3.58rem;
  height: 2.58rem;
  position: absolute;
  bottom: 1.05rem;
  left: 1rem;
  z-index: -1;
}

/* page5 */
.home-wrap .home-page.page5 {
  background: url(../images/page5/bg.png) no-repeat center 0 / cover;
}

.page5-bg-wallpaperBox {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: width 0.8s;
}

.page5-bg-wallpaperBox.on {
  width: 100%;
}

.page5-bg-wallpaperBox.off {
  width: 0;
}

.page5-bg-wallpaper {
  height: 100%;
  background: url(../images/page5/wallpaper/bg.png) no-repeat center 0 / cover;
}

.page5-container {
  width: 25.6rem;
  height: 14.4rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
}

.page5-container img {
  width: 100%;
}

.page5-wallpaperBox .page5-title {
  width: 3.41rem;
  height: 1.54rem;
  position: absolute;
  top: 1.32rem;
  left: 4.7rem;
  transition: all 0.8s;
}

.page5-wallpaperBox .page5-title.cur {
  left: 11.4rem;
}

.page5-wallpaperBox .page5-icon {
  width: 7.42rem;
  height: 9.54rem;
  position: absolute;
  top: 2.8rem;
  left: 2.6rem;
}

.page5-wallpaperCon {
  width: 6.78rem;
  height: 8.8rem;
  position: absolute;
  top: 3.14rem;
  left: 2.94rem;
  overflow: hidden;
}

.page5-w-min {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.page5-w-min.cur {
  filter: brightness(1);
}

.page5-w-min.other {
  filter: brightness(0.6);
}

.page5-w-min span {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 0.3s ease;
}

.page5-w-min span:hover {
  transform: scale(1.1);
}

.page5-w-min1 {
  width: 4.51rem;
  height: 2.12rem;
  top: 0;
  left: 0;
}

.page5-w-min2 {
  width: 2.22rem;
  height: 4.26rem;
  right: 0;
  top: 0;
}

.page5-w-min3 {
  width: 4.5rem;
  height: 4.5rem;
  right: 0;
  top: 4.32rem;
}

.page5-w-min4 {
  width: 2.22rem;
  height: 4.49rem;
  left: 0;
  top: 4.32rem;
}

.page5-w-min5 {
  width: 4.51rem;
  height: 2.12rem;
  left: 0;
  top: 2.16rem;
}

.page5-videoBox img {
  width: 100%;
}

.page5-videoBox .page5-title {
  width: 4.4rem;
  height: 1.54rem;
  position: absolute;
  top: 1.32rem;
  right: 4.16rem;
  transition: all 0.8s;
}

.page5-videoBox .page5-title.cur {
  right: 10.4rem;
}

.page5-videoBox .page5-icon {
  width: 7.42rem;
  height: 9.54rem;
  position: absolute;
  top: 2.8rem;
  right: 2.78rem;
}

.page5-videoCon {
  width: 6.78rem;
  height: 8.8rem;
  position: absolute;
  top: 3.14rem;
  right: 3.1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page5-v-min {
  background: url(../images/page5/video/min-border.png) no-repeat 0 0 / 100%
    100%;
  width: 6.72rem;
  height: 2.66rem;
  cursor: pointer;
  position: relative;
}

.page5-v-min span {
  width: 6.62rem;
  height: 2.55rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3.31rem;
  margin-top: -1.275rem;
  overflow: hidden;
}

.page5-v-min span img {
  transition: all 0.3s ease;
}

.page5-v-min:hover span img {
  transform: scale(1.1);
}

.page5-v-min span::before {
  content: "";
  background: url(../images/page5/video/playbtn.png) no-repeat 0 0 / 100% 100%;
  width: 1.08rem;
  height: 1.06rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.page5-wallpager-detailBox {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
}

.swiper-container-wallpager {
  width: 12.28rem;
  height: 6.91rem;
  margin: 3.3rem auto 0;
}

.page5-magnify {
  position: absolute;
  right: -1rem;
  bottom: 0.3rem;
  width: 0.46rem;
  height: 0.46rem;
  background: url(../images/page5/wallpaper/enlarge.png) no-repeat 0 0 / 100%
    100%;
  transition: all 0.5s;
  cursor: pointer;
}

.page5-download {
  position: absolute;
  right: -0.5rem;
  bottom: 0.3rem;
  width: 0.46rem;
  height: 0.46rem;
  background: url(../images/page5/wallpaper/download.png) no-repeat 0 0 / 100%
    100%;
  transition: all 0.5s;
  cursor: pointer;
}

.swiper-container-wallpager .swiper-slide:hover .page5-magnify {
  right: 1rem;
}

.swiper-container-wallpager .swiper-slide:hover .page5-download {
  right: 0.3rem;
}

.wallpager-prev {
  background-image: url(../images/page5/wallpaper/prev-next.png);
  background-repeat: no-repeat;
  background-size: 14.72rem 0.66rem;
  background-position: 0 0;
  width: 0.52rem;
  height: 0.66rem;
  left: 4.7rem !important;
}

.wallpager-next {
  background-image: url(../images/page5/wallpaper/prev-next.png);
  background-repeat: no-repeat;
  background-size: 14.72rem 0.66rem;
  background-position: -14.2rem 0;
  width: 0.52rem;
  height: 0.66rem;
  right: 4.7rem !important;
}

.wallpager-next:after,
.wallpager-prev::after {
  content: "" !important;
}

.swiper-container-wallpager-thumbs {
  margin: 0.5rem auto 0;
  width: 16.5rem;
  height: 2rem;
}

.swiper-container-wallpager-thumbs .swiper-slide span {
  width: 3.06rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.53rem;
  margin-top: -1rem;
}

.swiper-container-wallpager-thumbs .swiper-slide span {
  opacity: 0.95;
  filter: brightness(0.6);
  transition: all 0.3s;
  cursor: pointer;
}

.swiper-container-wallpager-thumbs .swiper-slide span:hover {
  filter: brightness(1);
  opacity: 1;
}

.swiper-container-wallpager-thumbs .swiper-slide-thumb-active span {
  filter: brightness(1);
  opacity: 1;
}

.page5-video-detailBox {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
}

.page5-video-screen {
  width: 12.28rem;
  height: 6.91rem;
  margin: 3.3rem auto 0;
  border: 1px solid #ccc;
  background-color: #000;
  overflow: hidden;
}

.video-prev {
  background-image: url(../images/page5/video/prev-next.png);
  background-repeat: no-repeat;
  background-size: 14.72rem 0.66rem;
  background-position: 0 0;
  width: 0.52rem;
  height: 0.66rem;
  left: 4.7rem !important;
}

.video-next {
  background-image: url(../images/page5/video/prev-next.png);
  background-repeat: no-repeat;
  background-size: 14.72rem 0.66rem;
  background-position: -14.2rem 0;
  width: 0.52rem;
  height: 0.66rem;
  right: 4.7rem !important;
}

.video-next:after,
.video-prev::after {
  content: "" !important;
}

.swiper-container-video-thumbs {
  margin: 0.5rem auto 0;
  width: 16.5rem;
  height: 2rem;
}

.swiper-container-video-thumbs .swiper-slide span {
  width: 3.12rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.56rem;
  margin-top: -1rem;
  opacity: 0.4;
  transition: all 0.3s;
  cursor: pointer;
}

.swiper-container-video-thumbs .swiper-slide span:hover {
  opacity: 1;
}

.swiper-container-video-thumbs .swiper-slide-active span {
  opacity: 1;
}

.page5-close {
  width: 0.7rem;
  height: 0.7rem;
  position: absolute;
  top: 2rem;
  right: 4rem;
  z-index: 10;
  cursor: pointer;
}
.page5-close img {
  transition: all 0.5s;
}
.page5-close:hover img {
  transform: rotate(180deg);
}

/* footer */
.footer {
  padding: 0.5rem 0 1rem 0;
}

.footer-link {
  text-align: center;
  color: #ccc;
  font-size: 0.18rem;
}

.footer-link a {
  padding: 0 0.3rem;
  border-right: 1px solid #fff;
}

.footer-link a:last-child {
  border: none;
}

.footer-link a:hover {
  color: #ff005e;
}

.footer-company {
  width: 3.74rem;
  height: 0.74rem;
  margin: 0.2rem auto 0;
}

.footer-company img {
  width: 100%;
}

.footer-ratings {
  margin: 0.2rem auto 0;
  width: 6.5rem;
  color: #ccc;
  line-height: 1.5;
  font-size: 0.18rem;
  text-align: left;
  position: relative;
}

.footer-ratings::before {
  content: "";
  display: inline-block;
  width: 0.12rem;
  height: 0.12rem;
  background-color: #ccc;
  line-height: 1.5;
  margin-right: 0.1rem;
}

.footer-ratings:last-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: -0.4rem;
  background: url(../images/page6/12+.png) no-repeat 0 0 / 100% 100%;
  width: 0.4rem;
  height: 0.4rem;
  line-height: 1.5;
  margin-left: 0.1rem;
}

/* dialog */
.mask {
  background-color: #000;
  border-top: 1px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.mask.on {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 9998;
}

.dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
}

.dialog.on {
  display: block;
}

.dialog-close {
  width: 0.7rem;
  height: 0.7rem;
  position: absolute;
  top: 0;
  right: -2rem;
  cursor: pointer;
}

.dialog-close img {
  transition: all 0.4s;
  width: 100%;
}

.dialog-close:hover img {
  transform: rotate(180deg);
}

.dialog-iframe {
  width: 14rem;
  height: 8rem;
  margin-left: -7rem;
  margin-top: -4rem;
  background-color: #000;
  border: 3px solid #ccc;
}

.dialog-iframe .dialog-con {
  width: 100%;
  height: 100%;
}

.dialog-iframe iframe {
  width: 100%;
  height: 100%;
}

/* 菜单 */
.menuBox {
  width: 3.93rem;
  position: absolute;
  top: 1.4rem;
  right: 0.8rem;
  z-index: 9999;
}
.topBar_menuBtn {
  background: url(../images/other/icon-menu.png) no-repeat 0 0 / 100% 100%;
  width: 0.64rem;
  height: 0.64rem;
  position: absolute;
  right: 0;
  top: 0;
  transition: background 0.3s;
}

.topBar_menuBtn.cur {
  background-image: url(../images/other/icon-close.png);
}

.menuMainBox {
  position: absolute;
  top: 0.7rem;
  right: 0;
  width: 3.75rem;
  height: 0;
  overflow: hidden;
}

.menuMainBox.cur {
  height: 6.56rem;
}

.menuMain {
  background: url(../images/other/nav-bg2.png) no-repeat 0 0 / 100% 100%;
  margin-left: 4rem;
  width: 3.75rem;
  height: 6.56rem;
  padding: 0 0.05rem;
  transition: all 0.3s ease;
  position: relative;
  opacity: 0;
}

.menuMain.cur {
  margin-left: 0;
  opacity: 1;
}

.menuMain ul {
  width: 100%;
  height: 4.7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menuMain ul li {
  width: 100%;
  height: 0.9rem;
  border-bottom: 1px solid #6a6a6a;
  color: #807f7f;
  font-size: 0.22rem;
  text-align: center;
  padding-top: 0.45rem;
  cursor: pointer;
  position: relative;
  letter-spacing: 4px;
}
.menuMain ul li:hover {
  color: #fff;
}
.menuMain ul li.cur {
  color: #fff;
  font-weight: 500;
}
.menuMain ul li.cur::after {
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #ed084d;
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -0.5rem;
}

.socialBox {
  margin: 0.3rem auto 0;
  width: 2.8rem;
  height: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.socialBox a {
  width: 0.46rem;
  height: 0.50rem;
  filter: brightness(0.7);
  transition: filter 0.3s ease;
}

.socialBox a img {
  width: 100%;
}
.socialBox a:hover {
  filter: brightness(1);
}
.page1-cs {
  display: block;
  margin: 0.18rem auto 0;
  color: #757575;
  font-size: 0.16rem;
  text-align: center;
}
.page1-cs:hover {
  color: #fff;
}

/* 侧边导航 */
.sidebar-open {
  display: none;
  width: 0.36rem;
  height: 2.1rem;
  position: fixed;
  right: 0;
  top: 32%;
  transform: translate3d(0, -50%, 0);
  z-index: 999;
}

.sidebar-open.cur {
  display: block;
}

.sidebar-open img {
  width: 100%;
}

.sidebar-open::before {
  content: "";
  background: url(../images/other/nav-btn-on-icon.png) no-repeat 0 0/100% 100%;
  width: 0.2rem;
  height: 0.23rem;
  position: absolute;
  bottom: 0.3rem;
  left: 0.07rem;
  animation: openAni 0.5s ease infinite;
  z-index: 1;
}

@keyframes openAni {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(15%);
    transform: translateX(15%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.sidebar-box {
  position: fixed;
  right: -5rem;
  top: 30%;
  background: url(../images/other/nav-bg.png) no-repeat 0 0/100% 100%;
  width: 2.14rem;
  height: 5.22rem;
  padding: 0.6rem 0 0 0.3rem;
  z-index: 999;
  transition: all 0.3s;
}

.sidebar-box.cur {
  right: 0.02rem;
}

.my-bullet {
  display: block;
  width: 1.3rem;
  height: 0.36rem;
  color: #b4b0b1;
  font-size: 0.22rem;
  text-align: right;
  cursor: pointer;
  position: relative;
  letter-spacing: 5px;
  line-height: 0.36rem;
}
.my-bullet::before {
  content: "";
  background-image: url(../images/other/nav-icon.png);
  background-repeat: no-repeat;
  background-size: 0.34rem 0.74rem;
  background-position: 0 0;
  width: 0.34rem;
  height: 0.34rem;
  position: absolute;
  top: 0.04rem;
  right: -0.4rem;
}
.my-bullet.active::before {
  background-position: 0 -0.4rem;
  width: 0.38rem;
  height: 0.38rem;
  top: 0;
  right: -0.44rem;
}
.my-bullet:hover::before {
  background-position: 0 -0.4rem;
  width: 0.38rem;
  height: 0.38rem;
  top: 0;
  right: -0.44rem;
}
.my-bullet:nth-child(1) {
  margin-bottom: 0.54rem;
}
.my-bullet:nth-child(2) {
  margin-bottom: 0.58rem;
}
.my-bullet:nth-child(3) {
  margin-bottom: 0.45rem;
}
.my-bullet:nth-child(4) {
  margin-bottom: 0.54rem;
}
.my-bullet.active {
  color: #fff;
  font-weight: 500;
}
.my-bullet:hover {
  color: #fff;
  font-weight: 500;
}
.my-bullet::after {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0.2rem;
  width: 0;
  height: 3px;
  background-color: #f05;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.my-bullet.active::after {
  width: 1.14rem;
}

.sidebar-close {
  width: 0.28rem;
  height: 1.72rem;
  position: absolute;
  right: 1.84rem;
  top: 0.65rem;
  z-index: 1;
}

/* loading */
.loading {
  background: #000 url(../images/loading/bg.jpg) no-repeat center 0 / cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.loading-con {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3rem;
  margin-top: -3rem;
}

.loading-teamlogo {
  background: url(../images/loading/teamlogo.png) no-repeat 0 0 / 100% 100%;
  width: 4.85rem;
  height: 4.73rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3rem;
  margin-top: -4rem;
}

.loading-rotate {
  width: 2.6rem;
  height: 2.6rem;
  top: 40%;
  left: 50%;
  position: absolute;
  margin-left: -1.3rem;
  margin-top: -2rem;
  z-index: 9;
}

.loading-rotate::before {
  content: "";
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -1rem;
  margin-top: -1rem;
  background: url(../images/loading/rotateLeftAni.png) no-repeat 0 0 / 100% 100%;
  animation: rotateLeftAni linear 10s infinite;
}

.loading-rotate:after {
  content: "";
  width: 2.6rem;
  height: 2.6rem;
  background: url(../images/loading/rotateRightAni.png) no-repeat 0 0 / 100%
    100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: rotateRightAni linear 5s infinite;
}

.percent {
  font-size: 0.6rem;
  color: #fff;
  text-align: center;
  position: relative;
  text-align: center;
  line-height: 2.6rem;
}

@keyframes rotateLeftAni {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotateRightAni {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

.loading-tips .glitch-img {
  width: 3.89rem;
  height: 0.45rem;
  background: url(../images/loading/tips.png) no-repeat 0 0 / 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.945rem;
  margin-top: 1.4rem;
}

.aniImg .glitch-img:nth-child(n + 2) {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
}
.aniImg .glitch-img:nth-child(2) {
  background-color: transparent;
  -webkit-animation-name: glitch-ani1;
  animation-name: glitch-ani1;
}
.aniImg .glitch-img:nth-child(3) {
  background-color: transparent;
  -webkit-animation-name: glitch-ani2;
  animation-name: glitch-ani2;
}
.aniImg .glitch-img:nth-child(4) {
  background-color: transparent;
  -webkit-animation-name: glitch-ani3;
  animation-name: glitch-ani3;
}

@keyframes glitch-ani1 {
  0% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-ani2 {
  0% {
    opacity: 1;
    transform: translate3d(calc(-1 * 10px), 0, 0);
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }
  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }
  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }
  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }
  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }
  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }
  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(calc(-1 * 10px), 0, 0);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-ani3 {
  0% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }
  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }
  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
